body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  margin-left: 20px;
}

#navbarSupportedContent {
  margin-left: 550px;
}

.footer-a a {
  text-decoration: none;
  color: rgb(65, 64, 64);
}

.footer-a a:hover {
  color: black;
  font-size: 1.02rem;
}

.footer-a i {
  margin-left: 1rem;
  font-size: 1.2rem;
}

.footer-a i:hover {
  font-size: 1rem;
}

/* sopport hero */

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
  margin-left: 10px;

}

#supportWraper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input {
  padding: 15px 50px;
  width: 100%;
  font-size: 15px;
  border-radius: 10px;
  border: none;
}
